<ion-header [translucent]="true">
  <ion-toolbar color="vinho">
    <ion-title>
      Bebidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-grid class="ion-text-center ion-no ion-no-padding">
    <ion-row>

      <ion-col size="6">
        <ion-card>
          <img src="../../assets/refri lata.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Refrigerantes Lata
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
              <ion-badge color="rosa_claro">350ml</ion-badge>
              <ion-note slot="end" color="vinho">R$ <span>4,50</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="../../assets/refri 2l.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Refrigerantes 2l
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
              <ion-badge color="rosa_claro">2l</ion-badge>
              <ion-note slot="end" color="vinho">R$ <span>8,50</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="../../assets/suco natural.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Suco Natural
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
              <ion-badge color="rosa_claro">300ml</ion-badge>
              <ion-note slot="end" color="vinho">R$ <span>6,50</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="../../assets/milkshake.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Milkshake
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
              <ion-badge color="rosa_claro">350ml</ion-badge>
              <ion-note slot="end" color="vinho">R$ <span>8,00</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="../../assets/cerveja lata.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Cerveja Lata
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
              <ion-badge color="rosa_claro">350ml</ion-badge>
              <ion-note slot="end" color="vinho">R$ <span>4,50</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img src="../../assets/torre de chopp.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>
              Torre de Chopp
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
              <ion-badge color="rosa_claro">2,5l</ion-badge>
              <ion-note slot="end" color="vinho"> R$ <span>15,00</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      </ion-row>
      </ion-grid>

</ion-content>
