// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    //**vinho**//
  --ion-color-vinho: #c60606;
  --ion-color-vinho-rgb: 198,6,6;
  --ion-color-vinho-contrast: #ffffff;
  --ion-color-vinho-contrast-rgb: 255,255,255;
  --ion-color-vinho-shade: #ae0505;
  --ion-color-vinho-tint: #cc1f1f;

    //**pink**//
  --ion-color-pink: #ed0c5b;
  --ion-color-pink-rgb: 237,12,91;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 255,255,255;
  --ion-color-pink-shade: #d10b50;
  --ion-color-pink-tint: #ef246b;

    //**marrom**//
  --ion-color-marrom: #6e0209;
  --ion-color-marrom-rgb: 110,2,9;
  --ion-color-marrom-contrast: #ffffff;
  --ion-color-marrom-contrast-rgb: 255,255,255;
  --ion-color-marrom-shade: #610208;
  --ion-color-marrom-tint: #7d1b22;

    //**rosa_claro**//
  --ion-color-rosa_claro: #db7575;
  --ion-color-rosa_claro-rgb: 219,117,117;
  --ion-color-rosa_claro-contrast: #000000;
  --ion-color-rosa_claro-contrast-rgb: 0,0,0;
  --ion-color-rosa_claro-shade: #c16767;
  --ion-color-rosa_claro-tint: #df8383;
}

.ion-color-vinho {
  --ion-color-base: var(--ion-color-vinho);
  --ion-color-base-rgb: var(--ion-color-vinho-rgb);
  --ion-color-contrast: var(--ion-color-vinho-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vinho-contrast-rgb);
  --ion-color-shade: var(--ion-color-vinho-shade);
  --ion-color-tint: var(--ion-color-vinho-tint);
}
  .ion-color-pink {
    --ion-color-base: var(--ion-color-pink);
    --ion-color-base-rgb: var(--ion-color-pink-rgb);
    --ion-color-contrast: var(--ion-color-pink-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
    --ion-color-shade: var(--ion-color-pink-shade);
    --ion-color-tint: var(--ion-color-pink-tint);
}
.ion-color-marrom {
  --ion-color-base: var(--ion-color-marrom);
  --ion-color-base-rgb: var(--ion-color-marrom-rgb);
  --ion-color-contrast: var(--ion-color-marrom-contrast);
  --ion-color-contrast-rgb: var(--ion-color-marrom-contrast-rgb);
  --ion-color-shade: var(--ion-color-marrom-shade);
  --ion-color-tint: var(--ion-color-marrom-tint);
}
.ion-color-rosa_claro {
  --ion-color-base: var(--ion-color-rosa_claro);
  --ion-color-base-rgb: var(--ion-color-rosa_claro-rgb);
  --ion-color-contrast: var(--ion-color-rosa_claro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rosa_claro-contrast-rgb);
  --ion-color-shade: var(--ion-color-rosa_claro-shade);
  --ion-color-tint: var(--ion-color-rosa_claro-tint);
}